.input-custom {
  height: auto !important;
  width: 2em !important;
  text-align: center;
  border-radius: unset;
  border: 1px solid #ced4da !important;
  margin: 0 -1px 0 -1px;
}

.shadow-1 {
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.change-value-btn {
  border: 1px solid #ced4da;
  cursor: pointer;
}

div.change-value-btn:hover {
  background-color: #ced4da;
}

div.change-value-btn:focus {
  background-color: #fff;
}

.desc-btn {
  border-radius: 5px 0 0 5px;
}


.asc-btn {
  border-radius: 0 5px 5px 0;
}
