<div class="row vh-100">
  <div class="col-0 col-md-4 bg-base-color-1">
    <a href="/">
      <img class="img-fluid" src="../../../../assets/logos/logos_transparent.png" alt="Logo">
    </a>
  </div>
  <div class="col-12 col-md-8">
    <div class="row my-md-5">
        <div class="col-10 offset-1 col-md-5 offset-md-3" style="box-shadow: 1px 1px 7px 0 #4469B0">
          <div class="d-flex flex-column bd-highlight">
            <h2 class="text-center base-color-1">Reset password</h2>
            <hr>
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="m-3 m-md-4 mt-md-0">
              <fieldset formGroupName="password">
                <div class="mb-3">
                  <label for="password1" class="form-label fw-bold">Password</label>
                  <input type="password" class="form-control" id="password1" formControlName="input">
                  <div *ngIf="input?.touched && input?.dirty">
                    <ng-container *ngFor="let error of errors.passwordErrors">
                      <small *ngIf="input?.hasError(error.code)" class="d-block text-danger"
                             role="alert">{{error.message}}</small>
                    </ng-container>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="password2" class="form-label fw-bold">Repeat Password</label>
                  <input type="password" class="form-control" id="password2" formControlName="confirm">
                  <div *ngIf="password?.touched && password?.dirty && confirm?.touched && confirm?.dirty">
                    <ng-container *ngFor="let error of errors.passwordErrors">
                      <small *ngIf="password?.hasError(error.code)" class="d-block text-danger"
                             role="alert">{{error.message}}</small>
                    </ng-container>
                  </div>
                </div>
              </fieldset>
              <ng-container *ngIf="hasResult">
                <div class="alert alert-success" role="alert" *ngIf="result else fail">
                  Change password successful. <a [href]="'auth/sign-in'">Sign in</a>
                </div>
                <ng-template #fail>
                  <div class="alert alert-danger" role="alert">
                    Change password fail. Please contact admin.
                  </div>
                </ng-template>
              </ng-container>
              <ng-container *ngIf="!hasResult">
                <div class="text-center">
                  <button [disabled]="resetForm.invalid" class="btn btn-logo-1 px-5 fw-bold">Change password</button>
                </div>
              </ng-container>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
