<header>
  <div class="row flex-nowrap justify-content-between align-items-center" style="--bs-gutter-x: 0;">
    <div class="col-4 pt-1">
      <a href="#">
        <img src="../../../assets/logos/logo-1.png"  alt="logo" width="250">
      </a>
    </div>
    <div class="col-5 offset-1 d-flex justify-content-end align-items-center mx-3">
      <div class="d-flex justify-content-end" *ngIf="!isSignIn else signedIn">
        
        <a class="mx-2 font-size-item" routerLink="/auth/sign-in" routerLinkActive="active"><i class="fas fa-user-circle icon-header mx-1"></i> Đăng nhập</a>
        <a class="mx-2 font-size-item" routerLink="/auth/sign-up" routerLinkActive="active"><i class="fas fa-sign-in-alt icon-header mx-1"></i> Đăng kí </a>
      </div>
      <ng-template #signedIn>
        <div class="d-flex">
          <div class="dropdown">
            <a class="btn btn-logo-4 font-size-nav-item" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              {{username}}
            </a>
            <ul class="dropdown-menu dropdown-menu-start dropdown-menu-light dropdown-menu-macos mx-0 border-0 shadow" aria-labelledby="accountDropdown">
              <li><a class="dropdown-item" href="#"> Tài khoản </a></li>
              <li><a class="dropdown-item" href="#"> Vé đặt </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="signOut()" href="/"> Đăng xuất </a></li>
            </ul>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</header>
