
.dropdown-menu-macos {
	gap: .25rem;
	padding: .5rem;
	border-radius: .5rem;
}

.dropdown-menu-macos .dropdown-item {
	border-radius: .25rem;
}

.dropdown-menu-macos .dropdown-item:hover {
	background-color: #4167b2;
	/* color: white; */
	color: #F6AE84;
}

.dropdown-item {
	color: #4167b2;
}

.dropdown-item.active, .dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #4167b2 !important;
}

.font-size-item{
	color: black;
	font-style: normal;
    font-weight: bold;
    line-height: 1.4;
    margin-left: 7px;
    font-stretch: normal;
	text-decoration: none
}

.font-size-item:hover{
	color:rgb(17, 132, 240);
}

.icon-header{
	color: rgb(146, 13, 235);
}